.container{
  max-width: 700px;
  margin: auto;
}
.page__detail{
  text-align: center;
  font-size: 50px;
}
.form-error{
  color: darkred;
  font-weight: 600px;
  background-color: pink;
}
.error{
  padding-top: 10px;
  color: darkred;
}

.message{
  max-width: 400px;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  color: black;
  text-align: center;
  border: solid 4px darkgreen;
  font-weight: 600px;
  background-color: rgb(196, 243, 211);
}