// Theme colors
$primary: #D6B5AB;
$secondary: #AB7C73;
$dark: #525558;
$error: #d32752;
$info: #f6c31c;
$greenDark: #023030;


// color palets
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "error": $error,
  "info": $info,
  "white": white,
  "black": black,
  "green": #2bab8d,
  "gray": lightgray,
);