// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@font-face {
  font-family: 'Quicksand - Light';
  src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
  font-weight: 200;
}

@font-face {
  font-family: 'Quicksand - Regular';
  src: url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
  font-weight: 500;
}

@font-face{
  font-family: 'Comfortaa';
  src: url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
}

$title-font: "Quicksand - Light", serif;
$title-2-font: 'Quicksand - Regular', serif;

$base-font: "Comfortaa", display;
